.card {
    cursor: pointer;
    perspective: 1000px;
    transition: transform 0.6s;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  

  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  .bg-gray {
    background-color: black;
  }
  